################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
bin/
obj/

/SSS/STOCKUPMVC/STOCKUPMVC/Migrations
/SSS/STOCKUPMVC/STOCKUPMVC/wwwroot/images/Products/81250a3d-d99c-49a0-b4ae-9269a5485746.png
